.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-title {
    color: white;
    font-size: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
    background-color: $bg-color;
    max-width: fit-content;
}