// Here add the global variables

// Background
$bg-color: #008080;

// Fonts
$primary-font: "Roboto", sans-serif;

// Colors
$primary-color: #000000;
$secondary-color: #ffffff;

// Transitions
$quick-transition: all ease 0.2s;