<div id="countryDetailPage">
    <div class="container">
        <div *ngIf="country">
            <div class="title-ctn">
                <a class="back-link" routerLink=""><i class="icon-arrow">←</i> Retour à la page d'accueil</a>
                <h1 class="page-title">{{country.country}}</h1>
            </div>
            <div class="blocks-ctn">
                <cpn-block-number
                    title="Nombre de participations" 
                    [number]="totalEntries"
                ></cpn-block-number>
                <cpn-block-number
                    title="Nombre total de médailles" 
                    [number]="totalMedals"
                ></cpn-block-number>
                <cpn-block-number
                    title="Nombre total d'athlètes" 
                    [number]="totalAthletes"
                ></cpn-block-number>
            </div>
            <div *ngIf="lineChartData" class="chart-ctn">
                <ngx-charts-line-chart
                    [results]="lineChartData"
                    [xAxis]="true"
                    [yAxis]="true"
                    [xAxisLabel]="'Dates'"
                    [showXAxisLabel]="true"
                    [animations]="true"
                    [yScaleMin]="0"
                    [yScaleMax]="150"
                    >
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>
