#countryDetailPage {
    .title-ctn {
        position: relative;
    
        .back-link {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .chart-ctn {
        display: flex;
        height: clamp-calc(250px, 400px);

        .ngx-charts-outer {
    
            .ng-star-inserted {
                font-size: clamp-calc(14px, 22px) !important;
                font-family: $primary-font;
                
                text {
                    font-size: clamp-calc(22px, 30px);
                    font-family: $primary-font;
                }
            }
        }
    }
    
    @media (max-width: 550px) {
        .title-ctn {
            position: relative;
        
            .back-link {
                position: relative;
                left: 0;
                top: 0;
            }
        }
    }
}