#homePage {

    .chart-ctn {
        display: flex;
        height: clamp-calc(150px, 400px);

        .ngx-charts {
            width: 100%;
            
            .pie-label {
                font-size: clamp-calc(18px, 22px);
                font-family: $primary-font;
            }
        }
    }

    .no-data {
        text-align: center;
        font-family: $primary-font;
        font-size: clamp-calc(20px, 28px);
    }
}