.ngx-charts {
    width: 100%;
    height: 400px;
    
    .pie-label {
        font-size: clamp(1.125rem, 1.0335rem + 0.3902vw, 1.375rem); // 18 to 22px
    }
}

.blocks-ctn {
    display: flex;
    gap: clamp(1.875rem, 1.6463rem + 0.9756vw, 2.5rem); // 30 to 40px
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
